.productInfo{
    width: 90%;
    height: 35rem;
    display: grid;
    grid-template-columns: 40% 60%;
    margin:3rem 5rem;
}
.proImage{
    width: 35rem;
    height: 35rem;
}
.proImage img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}
.infoProduct{
    width: 100%;
    margin-top: 4rem;
}
.infoTitle{
    font-size: 1.8rem;
    text-align: center;
}
.infoDis{
    font-size: 1.3rem;
    word-wrap: normal;
    max-width: 90%;
    margin:  2rem;
    text-align: center;
}
.infoPrice{
    font-size: 1.3rem;
    margin:  2rem ;
    text-align: center;
}
.quantitytity{
    margin:  2rem ;
}
.quantity input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.quantity button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}
.addTocartInfo{
    display: flex;
    justify-content: center;
}
.addTocartInfo button{
    color: white;
    background-color: black;
    font-size: 1.2rem;
    padding: 1rem 4rem;
    margin: 2rem;
    cursor: pointer;

}