nav{
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: white;
}
.logo ul li a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    margin-right: 2.5rem;
   
    
    
}
.logo ul li {
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 5rem;
    height: 5.5rem;
    align-items: center;
}
.navbarleft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navlinks{

    margin-left: 1rem;
}
.navlinks ul li{
    display: inline-block;
    margin-right: 1.5rem;
    margin-top: 0.6rem;
}
.navlinks ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}
.navlinks ul li{
    list-style: none;
}
.cart{
    margin-right: 1.5rem ;
}
.cart img{
    width: 1.9rem;
    margin-top: 0.1rem;
    
}
.cart p{
    color: white;
    background-color: red;
    width: 1rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 6rem;
    top: 1.3rem; 
}

.navlinks ul li a:hover,
.navlinks ul li a.active{
    color: rgb(87, 87, 87);
}

.navlinks ul li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 0.15rem;
    background: linear-gradient(to right, rgb(34, 128, 156), rgb(107, 107, 107));
}

.navlinks ul li a:hover:after,
.navlinks ul li a.active::after {
    width: 100%;
    transition: .2s;
}

/* hamburger */

.ham{
    width: 2rem;
    height: 0.27rem;
    margin-bottom: 0.2rem;
    content: '';
    background-color: black;
    display: block;
    border-radius: 5rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 782px) {
    nav {
        position: sticky;
        z-index: 5;
    }
        .logo ul li a {

            font-size: 2rem;
            margin-top: 1rem;
            margin-right: 2.5rem;
    
        }

    
        .navbar {
            margin: 0rem 1rem;
            height: 4rem;
        }
    
        .navbarleft {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        .navlinks ul li {
            margin-top: 0.7rem;
        }
    
        .navlinks ul li a {
            font-size: 1rem;
        }

        .cart {
            margin-right: 1rem;
        }
    
        .cart img {
            width: 1.5rem;
            margin-top: 0.1rem;
        }
        .cart p {
            right: 1.6rem;
            top: 0.4rem;
        }
}





@media screen and (max-width: 562px) {
    nav {
        position: sticky;
        z-index: 5;
        top: 0;
    }

    .logo ul li a {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .navbar {
        height: 3rem;
    }

    .navlinks ul li {
        margin-top: 0.4rem;
    }

    .navlinks ul li a {
        font-size: 1rem;
    }

    .cart {
        margin-right: 1rem;
    }

    .cart img {
        width: 1.3rem;
        margin-top: 0.1rem;
    }

    .cart p {
        background-color: transparent;
        right: 1.6rem;
        top: 0.4rem;
        color: red;
    }
}




@media screen and (max-width: 512px) {
    nav {
        position: relative;
        z-index: 5;
    }
    .hamburger{
        position: absolute;
        top: 0.9rem;
        right: 1.5rem;
    }
    .ham{
        display: block;
    }

    .logo ul li a {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .navbar {
        height: 3rem;
    }
    .navbarleft{
        display: flex;
        flex-direction: column;
    }
    
    .navlinks{
        position: absolute;
        top: 3rem;
        width: 100%;
        left: -100%;
        height: 40vh;
        margin-left: 0;
        text-align: center;
        border: none;
        transition: ease-in-out;
        transition: .3s;
        background-color: rgba(0, 0, 0, 0.8);
    }
   
    .navlinks ul li {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .navlinks ul li a {
        font-size: 2rem;
        padding: 0.5rem 0rem ;
        max-width: 4rem;
        color: white;   
    }

    .cart {
        margin-right: 4rem;
    }

    .cart img {
        width: 1.5rem;
        margin-top: 0.1rem;
    }

    .cart p {
        background-color: transparent;
        right: 4.6rem;
        top: 0.4rem;
        color: red;
    }
    .show{
        left: 0%;
    }
   
}